*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    border: 3px solid white;
    display: flex;
}
.container-1{
    height: 100vh;
    width: 100%;
    border: 3px solid white;
}
.nav img{
    height: 30px;
    width: 90px;

}   
.nav{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
} 
.nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-left: 8%;
}
.container-2{
    height: 100vh;
    width: 50%;
    background-color: rgb(245, 152, 168);
    border: 3px solid white;
}
.p-1{
    margin-top: 10%;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    text-align: center;
}
.p-2{
    margin-top: 5%;
    font-size: 20px;
    text-align: center;
}
.button{
    background-color: pink;
    border:solid white;
    color: #f5f5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    margin-left: 15%;
    padding: 3%;
    font-size: 15px;
}
.container-2 ul{
    
    box-sizing: content-box;
    font-size : 20px;
    margin-top: 5%;
    margin-left: 10%;
    text-align: center;
}
.container-2 img{
    height: 60%;
    width: 85%;
    display:flex ; 
    margin-top: 20%;
    margin-right: 40%;
}
.container-3{
    height: 100%;
    display: flex;
    width: 100%;
    border: 4px solid white;
}
.p-3{
    margin-top: 5%;
    font-size: 40px;
    color: rgb(3, 3, 59);
    text-align: center;
}
.p-4{font-size: 20px;
    text-align: center;
    margin-top: 2%;
}
.img-1{
    width: 100%;
    margin-top: 2%;
    box-sizing: border-box;
    display: flex;
    gap: 5%;
}
/* Container holding the image and the text */
.container-4{
    width: 95%;
    margin-top: 10%;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    position: relative;
    border: 1px solid white;
}
.img-2 div{
    width: 5%;
    box-sizing: border-box;
}
.p-5{
    font-size: 40px;
    color: rgb(6, 6, 71);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top: 5%;
    margin-left: 60%;   
}
.p-6{
     font-size: 15px;
     color:rgb(48, 46, 46);
     font-family: 'Courier New', Courier, monospace;
     position: absolute;
     margin-top: 15%;
     margin-left: 70%;
}
.button-1{
    font-size: 20px;
    margin-left: 80%;
    margin-bottom: 5%;
    position: absolute;
    top: 250%;
    color: #f5f5f5;
}
.img-3 div{
    width: 0%;
    height: 1%;
    box-sizing: border-box;
    margin-left: 8px;
}
.container-5{
    width: 100%;
    border: 1px solid rgb(243, 243, 248);
    box-sizing: border-box;
    display: flex;
}
.slidshow div{
    display: flex;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;

    text-align: center;
    justify-content: center;

}
