*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
display: flex;
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 100%;
height: 100vh;
}
.container-1
{
    position: fixed;
    background-color: rgb(241, 146, 162);
    text-align: center;
    width: 25%;
    height: 100vh;
    box-sizing: border-box;
    font-size: 100px;
    padding-top: 150px;
}
.container-1 p{
    font-size: 40px;
}
.container ul li,a{
    font-size: 20px;
    padding-top: 60px;
    color: black;
    text-decoration: none;
}
.container-1 ul li:hover{
    border-bottom: 2px solid rgb(236, 151, 165);
    border-radius: 20%;
    padding-bottom: 30px;
    box-shadow: 0px 8px rgb(194, 148, 156);
}
.container-2{
    margin-left:25%;
    width: 75%;
    height: 100vh;
    flex-wrap: wrap;
    display: flex;
    
    
}
.container-2 img{
    height: 40vh;
    width: 33.33%;
    object-fit: cover;
}
/* .img1{
    display: flex;
    width: 100%;
    height: 33vh;

}
.i1{
    width: 33.33%;
    height: 100%;
}
.i1 img{
    width: 100%;
    height: 100%;
    
}
.i1 img:hover{
    opacity: 0.8;
} */