*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav
{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    background: aqua;
}
.nav-bar ul
{
    list-style-type: none;
    display: flex;
    width: 170%;
    justify-content: space-evenly;
}
.nav-bar ul li a
{
    text-decoration: none;
}
.container
{
    margin-top: 20%;
    height: 300px;
    width: 50%;
    display: flex;
}
.box
{
    height: 100px;
    width: 50px;
    margin-top: 5%;
    background-color: blueviolet;
}
.box-1
{
    height: 200px;
    width: 300px;
    margin-top: 5%;
}
.box-1 p
{
    font-size: 80px;
    margin-left: 100px;
    color: rgb(97, 70, 70);
}
.box-1 b
{
    font-size: 15px;
    margin-left: 100px;
    color: rgb(175, 131, 131);
}
.box-1 button
{
    height: 40px;
    width: 140px;
    margin-left: 100px;
    margin-top: 10%;
    background-color: rgb(175, 131, 131);
    border: none;
    color:white;
}
.box-2 img
{
    height: 600px;
}
.shadow
{
    height: 323px;
    width: 700px;
    margin-left: 55%;
    margin-top: 10%;
    display: flex;
}
.container-1
{
    height: 300px;
    width: 330px;
    background: rgb(189, 95, 189);
}
.img img
{
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
}
.text
{
    height: 300px;
    width: 390px;
    margin-left: 5%;
}
.text p
{
    font-size: 20px;
    color: rgb(189, 95, 189);
}
.text b
{
    font-size: 30px;
    color: rgb(189, 95, 189);
}
.text button
{
    height: 40px;
    width: 140px;
    margin-top: 5%;
    background-color: white;
    color: rgb(189, 95, 189);
    border-color: rgb(189, 95, 189);
}
.shadow-1
{
    height: 323px;
    width: 700px;
    margin-left: 20%;
    margin-top: 10%;
    display: flex;
}
.shadow-2
{
    height: 323px;
    width: 700px;
    margin-left: 55%;
    margin-top: 10%;
    display: flex;
}
.container-2
{
    height: 900px;
    width: 100%;
    background-color: rgb(200, 136, 200);
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}
.img-1 img
{
    margin-top: 30%;
    margin-left: 18%;
    border-radius: 20px;
}
.img-1 p
{
    font-size: 20px;
    line-height: 25px;
    margin-left: 18%;
    color: rgb(110, 60, 110);
}
.container-3{
    height: 300px;
    width: 100%;
    background-color:  rgb(119, 59, 119);
}
.container-3 img
{
    height: 100px;
    width: 100px;
    margin: 0 50%;
    border-radius: 50%;
}
.container-3 p
{
    text-align: center;
}
.container-4
{
    height: 400px;
    width: 100%;
    margin-top: 10%;
    background-color:  rgb(119, 59, 119);
}
.container-4 p
{
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
    color: white;
}
.container-4 input
{
    height: 40px;
    width: 400px; 
    border-radius: 50px;
    background-color:  rgb(119, 59, 119);
    color: white;
    margin-left: 37%;
    margin-top: 5%;
}
.container-4 button
{
    height: 40px;
    width: 140px;
    background-color: rgb(189, 95, 189);
    color:white;
    border-radius: 100px;
    border-color: rgb(189, 95, 189);
}
.nav-bar1
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.nav-bar1 ul
{
    list-style-type: none;
    display: flex;
    width: 170%;
    justify-content: space-evenly;
}
.nav-bar1 ul li a
{
    text-decoration: none;
}